{% extends "base.html" %}



{% block content %}


    <h1>Welcome to my world</h1>
    <p>I'm kkkkkkkkqueen</p>

 


<!-- Login Form -->
<form action="{% url 'users:profile' %}" method="POST">
    {% csrf_token %}
    <ul>
        
            <label for="username">ID</label>
            <input type="text" id="username" name="username" required>
        
        
            <label for="password">PW</label>
            <input type="password" id="password" name="password" required>
        
            <a href="{% url 'users:login' %}"><button type="submit">Login</button></a>
            
        
    </ul>
</form>

 
    
    

{% endblock content %}