{% extends "base.html" %}



{% block content %}



    <h1> Welcome to my world </h1>
    <p> I`m kkkkkkkkqueen </p>

    <a href="{% url 'profile' %}">Profile</a>  


    <a href="{% url 'login' %}">Login</a>

    


    <form action="{% url 'profile' %}" method="GET">
<ul>
 
    <label for="message"> ID </label>
    <input type="text" id="message" name="message">

    
    

        <label for="message"> PW </label>
        <input type="text" id="message" name="message">

        <button type="submit"> OK </button>

    </ul>
    </form>
 
    
    

{% endblock content %}