{% extends "base.html" %}

{% block content %}

   

    <h1> Welcome to my world </h1>
    <p> I`m kkkkkkkkqueen </p>
    <img src="{ /static 'images/queen.jpg' /}" alt="My Image">

    <form action="" method="GET">
<ul>
<li>  
    <label for="message"> ID </label>
    <input type="text" id="message" name="message">

    <button type="submit"> OK </button>
</li>     
<li>
        <label for="message"> PW </label>
        <input type="text" id="message" name="message">

        <button type="submit"> OK </button>
</li>
    </ul>
    </form>
 
    
    

{% endblock content %}