{% extends "base.html" %}

{% block content %}

   

<h1> Login </h1>

<form method = 'post'>
    {% csrf_token %}
    <label for="id_username">Username:</label>
        <input type="text" name="username" id="id_username" required>
        
        <label for="id_password">Password:</label>
        <input type="password" name="password" id="id_password" required>
        
        <button type="submit">Log in</button>
    </form>
    <p>Don't have an account? <a href="{% url 'join' %}"> Join </a></p>
</form>

    
    

{% endblock content %}